<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Registration</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
</head>
<body>
<div class="container text-center">
    <div>
        <h1>Add Book</h1>
    </div>
    <div class="container text-center">
        <form th:action="@{/process_addBook}" method="post" style="max-width: 600px; margin: 0 auto; "
              th:object="${book}">
            <div class="m-3">

                <div class="from-group row">
                    <label class="col-form-label col-4">Author</label>

                    <div class="col-8">
                        <input type="text" class="form-control"th:field="*{author}" required minlength="2" maxlength="20"/>
                    </div>

                </div>
                <div class="from-group row">
                    <label class="col-form-label col-4">Title</label>

                    <div class="col-8">
                        <input type="text" class="form-control" th:field="*{title}" required minlength="2" maxlength="20"/>
                    </div>

                </div>

                <div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>

        </form>

    </div>

</div>
</body>
</html>