<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Users</title>
    <link  rel ="stylesheet" type ="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
</head>
<body>
<div class ="container text-center">
    <div>
        <form th:action="@{logout}" method="post">
            <p>
                Bine ai venit <b>[[${#request.userPrincipal.principal.fullName}]]</b>
            </p>
            <input type="submit" value="Sign out" />
        </form>
            <form th:action="@{/loggedIn}" method="get">

                <input type="submit" value="Back" />
        </form>
    </div>
    <div>
 <h1>Coming Soon</h1>
     </div>
      <div>
          <table class="table table-striped table-bordered">
              <thead class="thead-dark">
              <tr>
                  <th>Rent Id</th>
                  <th>Item Id</th>
                  <th>Rent Date</th>
                  <th>User Id</th>



              </tr>
              </thead>
              <tbody>
               <tr th:each="book: ${rentedBook}">
                   <td th:text="${book.id}">Rent ID</td>
                   <td th:text="${book.itemId}">Item Id</td>
                   <td th:text="${book.rentDate}">Rent Date</td>
                   <td th:text="${book.userId}">User Id</td>



               </tr>
              </tbody>

          </table>

      </div>

    </div>
</body>
</html>